* {
    font-family: Inter,sans-serif;
}


h1 {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.header{
    grid-area: header;
    color: #14213D;
    background-color: #FCA311;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
    font-size: 20px;
    font-weight: bold;
    padding: 20px 20px 20px 20px;

}


.slider{
    grid-area: slider;

    background-color: #FCA311;
    border-bottom: 2px solid black; 
    padding: 20px 20px 20px 20px;
}

.trend-container{
    grid-area: trend-container;
    background-color: whitesmoke;
    border-bottom: 2px solid black;
    height: auto;
    padding: 20px 20px 20px 20px;
}

.post-list{
    grid-area: posts;

    background-color: #E5E5E5;
    border-bottom: 2px solid black;
    height: auto;
    padding: 20px 20px 20px 20px;
}

.discover{
    grid-area: discover;

    color: #FFFFFF;
    background-color: #14213D;
    border-bottom: 2px solid black;
    height: auto;
    padding: 20px 20px 20px 20px;
}

.footer-menu{
    grid-area: footer;
    
    color: #14213D;
    background-color: #FCA311;
    border-bottom: 2px solid black;
    height: max-content;
    padding: 20px 20px 20px 20px;
}


.main-container {
    display: grid;
    justify-content: center;
    grid-template-columns:  repeat(4, 1fr); 
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "slider slider slider slider"
        "trend-container trend-container trend-container trend-container"
        "posts posts discover discover"
        "footer footer footer footer";
    margin: 0px 0px 0px 0px;   
}

.nav-bar {

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-bar-2 {

    flex-basis: 1440px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    height: 50px;
}

.nav-bar-logo {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;


}

.nav-bar-box {

    flex-grow: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.nav-bar-item {
    margin: 2px 4px 2px 4px;
    padding: 2px 4px 4px 2px;
}

.slider-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.slider-container-2 {

    flex-basis: 1440px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
    height: 400px;

}

.slider-container-row-1 {

    

    display: flex;
    flex-direction: row;
}

.slider-container-row-2 {
    display: flex;
    flex-direction: row;
}


.trending {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.trending-container-1 {

    flex-basis: 1440px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.trending-row{

    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:space-evenly;

    margin: 50px 4px 10px 4px;
    padding: 10px 4px 10px 4px;

}

.trending-item {
    display: flex;
    flex-direction: column;
}

.trend-item-number {
    font-size: 28px;
    color: #14213D;
    font-weight: bold;
}

.trend-item-info-row-1 {
    font-size: 20px;
}

.trend-item-info-row-2 {
    font-size: 22px;
    font-weight: bold;
    margin-left: 30px;
}



.posts-summary {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.posts-container {

    flex-basis: 680px;

    display: flex;
    flex-direction: column;
}

.post-item {

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin: 20px 0px 10px 10px;

}

.post-item-info {
    margin: 0px 20px 0px 20px;
}

.post-item-title {
    font-size: 20px;
}

.post-item-excerpt {
    font-size: 16px;
}

.post-item-photo {
    align-self: center;
}


.discover-more {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.discover-more-2 {

    flex-basis: 680px;

    display: flex;
    flex-direction: column;
}

.topic-container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: flex-start;
}

.topic-item {
    font-size: 30px;
    border: 2px solid red;
    border-radius: 3px;

    padding: 5px;
    margin: 5px;
}


.footer-menu-components {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-menu-components-2 {

    flex-basis: 1440px;

    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    
}

.footer-row-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.footer-menu-left{
    flex-grow: 1;
    align-self: center;
}

.footer-menu-right{
    flex-grow: -1;
    align-self: center;
}

.footer-row-2{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;

    font-weight: normal;
}